@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham-Bold.otf) format('opentype'),
        url(../fonts/GothamBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

